.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.sas7bdat
*.sas
*.zip
rand_doc_visits
rand_doc_visits_SAMPLED
.vscode/keybindings.json
.vscode/r.code-snippets
.vscode/settings.json
.vscode/tasks.json
Submission/
PhD Admin/
input_params_list.RData
Archive/
Data/